Repository WolfSoko/nx-clean: changes, and which Codecov flags are due for each by the changed paths.
All: cleaner, awesome

chore(deps): update dependency eslint-import-resolver-typescript to v4.4.5
  package.json
Due: none

fix(deps): update nx monorepo
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-config-prettier to v10
  package.json
Due: none

chore(deps): update dependency eslint-plugin-cypress to v7
  package.json
Due: none

chore(deps): update dependency eslint-plugin-sonarjs to v4
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v8
  package.json
Due: none

fix(deps): update nx monorepo
  .github/workflows/ci.yml
  libs/awesome/package.json
  package-lock.json
  package.json
Due: awesome

chore(deps): update dependency eslint to v10
  package.json
Due: none

chore(deps): update dependency postcss-preset-env to ~11.5.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v17.4.1
  package-lock.json
  package.json
Due: none

chore(deps): update node.js to v24.20.0
  .nvmrc
Due: none

chore(deps): update dependency postcss-preset-env to v11.5.1
  package-lock.json
Due: none

chore(deps): update dependency postcss to v8.5.28
  package-lock.json
Due: none

chore(deps): update dependency lint-staged to v17.5.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-preset-env to v11.5.2
  package-lock.json
Due: none

chore(deps): update node.js to v24.21.0
  .nvmrc
  package-lock.json
  package.json
Due: none

chore(nx): migrate workspace to latest Nx version
  .eslintrc.json
  .gitignore
  .lintstagedrc.js
  .lintstagedrc.json
  .prettierignore
  apps/cleaner-e2e/.eslintrc.json
  apps/cleaner-e2e/eslint.config.mjs
  apps/cleaner-e2e/project.json
  apps/cleaner/.eslintrc.json
  apps/cleaner/eslint.config.mjs
  apps/cleaner/jest.config.ts
  apps/cleaner/project.json
  apps/cleaner/src/test-setup.ts
  apps/cleaner/tsconfig.spec.json
  eslint.config.mjs
  jest.config.ts
  libs/awesome/.eslintrc.json
  libs/awesome/eslint.config.mjs
  libs/awesome/jest.config.ts
  libs/awesome/project.json
  libs/awesome/src/test-setup.ts
  libs/awesome/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: cleaner, awesome

fix(nx): pin cleaner-e2e tsconfig to node10 module resolution for Cypress
  apps/cleaner-e2e/tsconfig.json
Due: cleaner

fix(nx): set explicit rootDir for cleaner-e2e to satisfy TS6
  apps/cleaner-e2e/tsconfig.json
Due: cleaner

fix(nx): drop unused outDir from cleaner-e2e tsconfig
  apps/cleaner-e2e/tsconfig.json
Due: cleaner

Path conditions:
  cleaner: any of: apps/cleaner
  awesome: any of: libs/awesome
