Repository WolfSoko/nx-clean: changes, and which Codecov flags are due for each by the changed paths.
All: cleaner, awesome

fix(nx): pin cleaner-e2e tsconfig to node10 module resolution for Cypress
  apps/cleaner-e2e/tsconfig.json
Due: cleaner

fix(nx): drop unused outDir from cleaner-e2e tsconfig
  apps/cleaner-e2e/tsconfig.json
Due: cleaner

chore(nx): migrate workspace to latest Nx version
  .eslintrc.json
  .gitignore
  .lintstagedrc.js
  .lintstagedrc.json
  .prettierignore
  apps/cleaner-e2e/.eslintrc.json
  apps/cleaner-e2e/eslint.config.mjs
  apps/cleaner-e2e/project.json
  apps/cleaner/.eslintrc.json
  apps/cleaner/eslint.config.mjs
  apps/cleaner/jest.config.ts
  apps/cleaner/project.json
  apps/cleaner/src/test-setup.ts
  apps/cleaner/tsconfig.spec.json
  eslint.config.mjs
  jest.config.ts
  libs/awesome/.eslintrc.json
  libs/awesome/eslint.config.mjs
  libs/awesome/jest.config.ts
  libs/awesome/project.json
  libs/awesome/src/test-setup.ts
  libs/awesome/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: cleaner, awesome

chore(deps): update dependency eslint-import-resolver-typescript to v4.4.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v17.5.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-node to v10.9.2
  package-lock.json
  package.json
Due: none

chore(deps): update eslint monorepo to v9.39.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @babel/core to v8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-cypress to v7
  package.json
Due: none

chore(deps): update eslint monorepo to v10
  package.json
Due: none

fix(deps): update nx monorepo
  .github/workflows/ci.yml
  libs/awesome/package.json
Due: awesome

chore(deps): update dependency eslint-plugin-sonarjs to v4.2.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-preset-env to v11.5.3
  package-lock.json
Due: none

chore(deps): update codecov/codecov-action action to v7.1.0
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency @types/node to v24.13.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency prettier to v3.9.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v24.13.6
  package-lock.json
  package.json
Due: none

chore(deps): update jest monorepo to v30.5.2
  package-lock.json
  package.json
Due: none

fix(deps): update nx monorepo
  package-lock.json
  package.json
Due: none

chore(deps): update codecov/codecov-action action to v7.1.1
  .github/workflows/ci.yml
Due: none

Path conditions:
  cleaner: any of: apps/cleaner
  awesome: any of: libs/awesome
